.borda-topo{
        border-top: 1px;
        border-top-color: blue;
        border-top-style: solid;
}

.borda-direita{
        border-right-width: 4px;
        border-right-color: green;
        border-right-style: solid;


    }

.borda-base{
        border-bottom-width: 3px;
        border-bottom-color: pink;
        border-bottom-style: solid;

}

.borda-esquerda{
        border-left-width: 6px;
        border-left-color: rgb(87, 9, 26);
        border-left-style: solid;


    }

.borda-completa{
    border-left-width: 6px;
    border-left-color: rgb(87, 9, 26);
    border-left-style: solid;
